.temp {
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}
.container {
  padding: 10px;
  margin: 20px auto;
  max-width: 600px;
  background: linear-gradient(
    to right,
    rgba(147, 206, 222, 1) 0%,
    rgba(107, 171, 189, 1) 50%,
    rgba(41, 126, 150, 1) 100%
  );
  border-radius: 15px;
}
.date {
  font-weight: bold;
}
.card.main-card {
  max-width: 540px;
  background: transparent;
  border: 0;
}

.card-day {
  margin: 5px;
  border-radius: 1rem;
}

button {
  width: 50px;
}

.card-temperature {
  align-items: center;
  display: flex;
}

.units {
  position: relative;
  top: -16px;
  font-size: 14px;
}

.card-text,
.card-feel,
.card-temperature,
.card-wind {
  text-transform: capitalize;
}
